<div class="container">
  <h1>家計簿(履歴画面)</h1>
  <div class="main-content">
    <%# <div>■履歴</div> %>
    <h2>
      <%= form_tag({controller: "history", action:"change_month"}, remote: true) do %>
      <%= button_tag :type => "submit", :class =>"btn btn-default btn-sm change-month", :id => "prev_month", :value => "prev_month" do %>
      <i class="fas fa-angle-left"></i>
      <% end %>
      <%# <button class="btn btn-default btn-sm change-month" id="prev_month"><i class="fas fa-angle-left"></i></button> %>
      <%= hidden_field_tag :this_year, @year %>
      <%= label :year, @year, :id => "this_year_label" %>
      <span>年</span>
      <%= hidden_field_tag :this_month, @month %>
      <%= label :month, @month, :id => "this_month_label" %>
      <span>月</span>
      <%# <button class="btn btn-default btn-sm change-month" id="next_month"><i class="fas fa-angle-right"></i></button> %>
      <%= button_tag :type => "submit", :class =>"btn btn-default btn-sm change-month", :id => "next_month", :value => "next_month" do %>
      <i class="fas fa-angle-right"></i>
      <% end %>
      <% end %>
    </h2>
    <div id="postdata_list">
        <%= render template:"history/_history_insert" %>
    </div>
  </div>
</div>